* {
  margin: 0;
  padding: 0;
  }

*, ::after, ::before {
  box-sizing: border-box; }

* {
  outline: none; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color:#000000;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.DesktopOnly {

}

.f-right {
  float: right;
}

.mg-r-15 {
  margin-right: 15px;
}

.mg-l-15 {
  margin-left: 15px;
}

.mg-l-10 {
  margin-left: 10px;
}

.mg-l-5 {
  margin-left: 5px;
}

.mg-t-5 {
  margin-top: 5px;
}

.mg-t-30 {
  margin-top: 30px;
}

.mg-t-9 {
  margin-top: 9px;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-t-15 {
  margin-top: 15px;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-t-6 {
  margin-top: 6px;
}

.mg-b-10 {
    margin-bottom: 10px;
}

.mg-b-50 {
  margin-bottom: 50px;
}

.pd7 {
  padding: 7px;
}

.pd-l-40 {
  padding-left: 40px;
}

.pd-t-15 {
  padding-top: 15px;
}

.pd-r-5 {
  padding-right: 5px;
}

.t-15 {
   top: 15px;
}

.r-15 {
  right: 15px;
}

.r-10 {
  right: 10px;
} 

.r-0 {
  right: 0px;
}

.t-0 {
  top: 0px;
}
.cl000 {
  color: #000;
}

.wd-100pr {
  width: 100%;
}

.wd-100px {
  width: 100px;
}

.text-right {
  text-align: right;
}

.avatar-xs {
  width: 26px;
  height: 26px;
}

.avatar-xs .avatar-initial {
  font-size: 10px;
}

.cr-pointer {
  cursor: pointer;
}

.avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1E5632;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.br-radius, .rounded-circle {
  border-radius: 50%;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}

.d-table {
  display: table;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.clearBoth {
  clear: both;
}
/**menu dropdown**/
.profile-menu ul {
  margin: 0;
  padding: 0;
}
.profile-menu ul li {
  font-size: 13px;
  margin: 10px 0px;
}

ul li {
  list-style: none;
}
.profile-menu ul li a {
  color: #666E78;
}

a, a:hover {
  text-decoration: none !important;
}

.outlinedSizemedium {
  padding: 6px 12px;
}

.col-md-12 {
  max-width: 100%;
  flex: 0 0 100%;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
}

/* button css  */
.btn-black {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 16px;
  border-radius: 5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  opacity: 0.9;
}

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}