.mainHeader {
    height: 50px;
    padding: 5px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    top: 0;
    z-index: 99;
}
.Menubar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C02032;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    /*z-index: 90;*/
}

.Menubar nav {
    height: 100%;
}

.MenubarLogo {
    height: 80%;
} 

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}

.Ul-float-revert {
    float: revert !important;
}